/* .top-banner {
  background-color: #b1001d;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

body {
  margin-top: 60px; /* Adjust if necessary to prevent content overlap */
/* }  */



/* Main navbar elements */
.navbar {
    background-color: #b31b1b !important;
}

/* Adjusting the mobile toggle button */
.navbar-toggler {
    background-color: #b31b1b !important;
}
